<% content_for :title do %>Users<% end %>

<h3>Here is the user list.  Please click on one to see messages.</h3>
<br/>
<div id="users" data-users-url="<%= api_users_url(format: 'json') %>"></div>
<br/>
<br/>
<%= form_tag api_users_path(format: "json"), method: "post", remote: true, id: "new-user-form" do %>

<% end %>